/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

nav ul li a: hover {
    background-color: #575757;
}

section {
    padding: 20px;
    margin: 20px;
}

#home {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

#about, #services, #contact {
    background-color: #eaeaea;
    padding: 30px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button: hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
